@using GF2Learn.Web.Models

@inject MarkdownService Markdown

@inject RunnableCodeParser RunnableParser

@inject MarkdownCodeHighlighter Highlighter



<div class="markdown-body @(Item.Section == ContentSectionType.Curriculum ? "curriculum-content" : null)">

    @if (!string.IsNullOrWhiteSpace(Item.YoutubeId))

    {

        <div class="video-embed">

            <iframe src="@($"https://www.youtube.com/embed/{Item.YoutubeId}")" title="Video" allowfullscreen loading="lazy"></iframe>

        </div>

    }

    @if (Item.Section == ContentSectionType.Curriculum)

    {

        @for (var i = 0; i < _segments.Count; i++)

        {

            var segment = _segments[i];

            if (segment.IsRunnableSnippet && segment.RunnableSnippet is not null)

            {

                <RunnableCodeSnippet @key="@($"{Item.Slug}-run-{i}")"
                                     Code="@segment.RunnableSnippet.Code" />

            }

            else if (!string.IsNullOrWhiteSpace(segment.Html))

            {

                @((MarkupString)segment.Html)

            }

        }

    }

    else

    {

        @((MarkupString)Highlighter.Apply(Markdown.ToHtml(Item.Body, null)))

    }

</div>



@code {

    [Parameter, EditorRequired] public ContentItem Item { get; set; } = default!;



    private IReadOnlyList<ContentSegment> _segments = [];



    protected override void OnParametersSet()

    {

        if (Item.Section != ContentSectionType.Curriculum)

        {

            _segments = [];

            return;

        }



        var html = Markdown.ToHtml(Item.Body, Item.Slug);

        _segments = HighlightSegments(RunnableParser.BuildSegments(html));
    }

    private IReadOnlyList<ContentSegment> HighlightSegments(IReadOnlyList<ContentSegment> segments)
    {
        if (segments.Count == 0)
            return segments;

        return segments.Select(segment =>
        {
            if (string.IsNullOrWhiteSpace(segment.Html))
                return segment;

            return new ContentSegment
            {
                Html = Highlighter.Apply(segment.Html),
                Playground = segment.Playground,
                RunnableSnippet = segment.RunnableSnippet
            };
        }).ToList();
    }

}

